.App {
  text-align: center;
}

/****** info button design start ******/

.info-container{
  position:fixed;
  top:2%;
  left:5%;
  z-index:10;
}
.info-outer{
  border-radius:10px;
  margin:0;
  height:100%;
  display:grid;
  justify-items:center;
  align-items:center;
  text-align:right;
}
.info-inner{
  background:rgb(7,218,165);
  padding:1em;
  border-radius:10px;
  width:200px;
  clip-path:circle(10% at 10% 20%);
  transition:all 0.5s ease-in-out;
  cursor:pointer;
  position: relative;
}
.info-inner h3{
  color:white;
  margin:0;
}
.info-inner p{
  color:white;
  font-size:0.8rem;
}
.info-inner:hover,
.info-inner:active,
.info-inner:focus
{
  clip-path:circle(75%);
  background:#00B6FF;
}
.info-inner span{
  float:right;
  color:white;
  font-weight:bold;
  transition:color 0.5s;
  position: absolute;
  top:12%;
  left:9%;
}
.info-inner:active span,
.info-inner:focus span,
.info-inner:hover span{
  color:rgba(255,255,255,0);
}

/****** info button design end ******/



/************ Clock designs start **************/

.clock {
      width: 10rem;
      height: 10rem;
      border: 5px solid white;
      border-radius: 50%;
      margin: 50px auto;
      position: relative;
      padding: 0.5rem;
      background:rgba(0,0,0,0.5);
      box-shadow:
        0 0 0 4px rgba(0,0,0,0.1),
        inset 0 0 0 3px #EFEFEF,
        inset 0 0 10px black,
        0 0 10px rgba(0,0,0,0.2);
    }

    .clock-face {
      position: relative;
      width: 100%;
      height: 100%;
      transform: translateY(-3px); /* account for the height of the clock hands */
    }

    .hand {
      width: 50%;
      height: 5px;
      background: black;
      position: absolute;
      top: 50%;
      transform-origin: 100%;
      transform: rotate(90deg);
      border-radius:50%;
    }

    .second-hand{
      background: red;
      height:4px;
    }
  
    .hour-hand{
      background:skyblue;
    }

/************ Clock designs end **************/

/**** User Search suggestions Start ****/

.search-form {
  max-width: 400px;
  margin: 50px auto;
}

input.search {
  margin: 0;
  text-align: center;
  outline:0;
  border: 10px solid #F7F7F7;
  width: 50%;
  position: relative;
  top: 10px;
  z-index: 2;
  border-radius: 5px;
  font-size: 1.6rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.listContainer{
  position:relative;
  margin-bottom:150px;
}
.suggestions {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left:0;
  right:0;
  bottom:0;
  /*perspective: 20px;*/
}


.suggestions li {
  background: black;
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  display: flex;
  justify-content: flex-start;
  text-transform: capitalize;
  z-index:10;

}

.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(5deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
}

.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-5deg) translateY(3px);
  background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
}

.highLight {
  background-color: #ffc600;
}

/**** User Search suggestions End ****/


/**** User Selected Zone Time List Start ****/

.time-zone-list li{ 
  list-style: none;
  border: 1px solid #D8D8D8;
  margin: 20px ;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items:center;
}

/**** User Selected Zone Time List End ****/
